<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="SLF4J"/>
        <!--        日志前缀-->
        <setting name="logPrefix" value="[ypl]"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>

<!--     localCacheScope	MyBatis 利用本地缓存机制（Local Cache）防止循环引用（circular references）和加速重复嵌套查询。
 默认值为 SESSION，这种情况下会缓存一个会话中执行的所有查询。
 若设置值为 STATEMENT，本地会话仅用在语句执行上，对相同 SqlSession 的不同调用将不会共享数据。
 SESSION,STATEMENT	SESSION-->
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://127.0.0.1:3306/test?serverTimezone=GMT%2B8&amp;characterEncoding=UTF-8&amp;allowMultiQueries=true"/>
                <property name="username" value="root"/>
                <property name="password" value="ypl123456YPL"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--        <mapper resource="com/ypl/test/mapper/UpmsPermissionMapper"/>-->
        <!--            <mapper class="com.ypl.test.mapper.UpmsPermiss/ionMapper" />-->
        <!--        <package name="com.ypl.test.mapper"/>-->
        <mapper resource="com/ypl/test/mapper/UpmsUserMapper.xml"/>
    </mappers>


</configuration>